$primary: rgba(247, 235, 236, 1);
$secondary: rgb(253 134 128);
$third: rgba(172, 159, 187, 1);
$primary-transparent: rgba(247, 235, 236, .3);

$font-color: #1d1e2c;

$font-sm: 2rem;
$font-md: 3rem;
$font-lg: 4rem;

$trans: all .25s ease-in;
$borderRad: 20px;

$margin-sm: .25rem;
$margin-md: .5rem;
$margin-lg: 1.5rem;

$pad: 20px;

* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

%btn {
	background-color: transparent;
	color: $secondary;
	transition: $trans;
	border: 2px solid $secondary;
	border-radius: $borderRad;
	padding: .125em .25em;
	margin-bottom: $margin-lg;
	&:hover,
	&:focus {
		outline: none;
		color: $third;
		border-color: $third;
		cursor: pointer;
		transform: scale(1.05);
	}
}

main {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 67% 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		text-align: center;
		color: $primary;
		font-size: $font-lg;
		margin-bottom: $margin-md;
	}
}
.buttons {
	text-align: center;
	button {
		@extend %btn;
		font-size: $font-md;
		&:not(:last-child) {
			margin-right: .25em;
		}
	}
}
.wrapper {
	display: flex;
	justify-content: center;
	width: 90%;
	margin-bottom: $margin-lg;
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: $font-sm;
		padding: $pad;
		flex-basis: 100%;
		background-color: $primary-transparent;
		max-width: 600px;
		border-radius: $borderRad;
	}
	label {
		color: $primary;
		margin-bottom: $margin-md;
	}
	input {
		line-height: 2em;
		padding: $margin-md;
		border-radius: $borderRad;
		width: 60%;
		margin-bottom: $margin-md;
		background-color: $primary;
		transition: $trans;
		min-width: 200px;
		&::placeholder {
			color: $font-color;
			font-size: 1rem;
		}
		&:focus,
		&:active {
			border: 4px solid $secondary;
			outline: none;
			transform: scale(1.01);
		}
	}
}
