$primary: rgba(255, 255, 255, 1);
* {
	border: 0;
	padding: 0;
	margin: 0;
}
main {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		color: $primary;
	}
}
